<html>
    <head>

    </head>
    <body>
        <h1>
            {{title}}
        </h1>
 <p>first name : {{firstName}}</p>
 <br>
 <p>last name : {{lastName}}</p>
 <br>
 <p>student Number : {{studentNumber}}</p>
 <br>
 <p>email : {{email}}</p>
 <br>
 <p>date of birth : {{dateOfBirth}}</p>
    </body>
</html>